@font-face {
  font-family: 'BebasNeueBold';
  src: url('../font/BebasNeueBold.eot');
  src: url('../font/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../font/BebasNeueBold.woff2') format('woff2'), url('../font/BebasNeueBold.woff') format('woff'), url('../font/BebasNeueBold.ttf') format('truetype'), url('../font/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Regular.eot');
  src: url('../font/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../font/PTSans-Regular.woff2') format('woff2'), url('../font/PTSans-Regular.woff') format('woff'), url('../font/PTSans-Regular.ttf') format('truetype'), url('../font/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Bold.eot');
  src: url('../font/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('../font/PTSans-Bold.woff2') format('woff2'), url('../font/PTSans-Bold.woff') format('woff'), url('../font/PTSans-Bold.ttf') format('truetype'), url('../font/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Italic.eot');
  src: url('../font/PTSans-Italic.eot?#iefix') format('embedded-opentype'), url('../font/PTSans-Italic.woff2') format('woff2'), url('../font/PTSans-Italic.woff') format('woff'), url('../font/PTSans-Italic.ttf') format('truetype'), url('../font/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
* {
  font-size: 1vw;
}
* :before,
* :after {
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  * {
    font-size: 1.4vw;
  }
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-color: #000000;
}
body a {
  text-decoration: none;
}
#slider {
  position: relative;
}
#slider .fotorama .fotorama__nav {
  right: 37.8vw;
  bottom: 6.9vw;
}
#slider .fotorama .fotorama__nav-wrap {
  height: 0;
}
#slider .fotorama .fotorama__nav__frame {
  margin: 0 0.2vw;
}
#slider .fotorama .fotorama__dot {
  border: 0;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  background-color: rgba(182, 144, 126, 0.5);
}
#slider .fotorama .fotorama__active .fotorama__dot {
  border: 0;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  background-color: #b6907e;
}
#slider .fotorama .fotorama__wrap:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7vw;
  right: 0;
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
  content: '';
}
#slider .sub {
  background-color: #0e0e0e;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#slider .sub > p {
  margin: 0 0 0 8.9vw;
  font-family: PT Sans;
  color: #767676;
  font-size: 0.8vw;
  font-style: italic;
}
#slider .sub > div {
  margin: 0 8.9vw 0 0;
  display: flex;
  align-items: center;
}
#slider .sub > div img {
  width: 1.2rem;
}
#slider .sub > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.3rem;
}
#slider .sub > div > div > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #b6907e;
  border-radius: 50%;
  padding: 0.3rem 0.3rem;
  font-family: PT Sans;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 0 0.8rem;
}
#slider .header {
  position: absolute;
  top: 5.9vw;
  right: 8.9vw;
  left: 8.9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slider .header .logo {
  display: flex;
  align-items: center;
}
#slider .header .logo .p0 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.7vw;
  margin: 0 1.1vw 0 0;
}
#slider .header .logo .p1 {
  font-family: PT Sans;
  color: #818181;
  font-size: 0.8vw;
  font-style: italic;
}
#slider .header .menu {
  width: 32.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 5vw;
}
#slider .header .menu > a {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.2s;
  margin: 0 0 1vw 0;
  z-index: 10;
}
#slider .header .menu > a:hover {
  color: #977869;
  border-bottom: 2px solid currentColor;
}
#slider .header .phone {
  display: flex;
  align-items: center;
}
#slider .header .phone > img {
  width: 1.4rem;
  margin: 0 1.5rem 0 0;
}
#slider .header .phone > p {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
}
#slider .cont {
  position: absolute;
  top: 17vw;
  left: 8.9vw;
  display: flex;
  flex-direction: column;
}
#slider .cont > h1 {
  margin: 0;
  width: 32vw;
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 4.7vw;
  font-weight: 400;
}
#slider .cont > div {
  display: flex;
  align-items: flex-start;
  margin: 3.3vw 0 0 0;
}
@media screen and (max-width: 800px) {
  #slider .cont > div {
    flex-direction: column;
  }
}
#slider .cont > div > a {
  font-family: BebasNeueBold;
  color: #977869;
  font-size: 1.3rem;
  font-weight: 400;
  border: 2px solid currentColor;
  padding: 0.9rem 2.1rem;
  margin: 0 1.7vw 3vw 0;
}
#slider .cont > div > a:hover {
  background-color: rgba(151, 120, 105, 0.1);
}
#services {
  position: relative;
}
#services .bg > img {
  width: 100%;
}
#services .bg:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 24vw;
  background-image: linear-gradient(to left, #000000, rgba(0, 0, 0, 0));
  content: '';
}
#services .fotorama .fotorama__wrap {
  position: absolute;
  top: 10.1vw;
  left: 49.2vw;
}
#services .fotorama .fotorama__stage {
  height: 43vw;
}
#services .fotorama .fotorama__arr--prev {
  background: url('../img/services/cont/1.svg') no-repeat center;
  top: 4vw;
  height: 1.5vw;
  width: 1.5vw;
  background-size: contain;
}
#services .fotorama .fotorama__arr--next {
  left: 3.7vw;
  background: url('../img/services/cont/2.svg') no-repeat center;
  top: 4vw;
  height: 1.5vw;
  width: 1.5vw;
  background-size: contain;
}
#services .fotorama .cont > h1 {
  position: absolute;
  top: 6.5vw;
  margin: 0;
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 2.8vw;
  font-weight: 400;
}
#services .fotorama .cont > p {
  position: absolute;
  top: 10.8vw;
  margin: 0;
  font-family: PT Sans;
  color: #858585;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 2.45vw;
}
#collection {
  position: relative;
  top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8.9vw;
}
#collection > .d0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#collection > .d0 > h1 {
  font-family: BebasNeueBold;
  color: #f5f5f5;
  font-size: 2.8rem;
  font-weight: 400;
}
#collection > .d0 > div {
  width: 11.7rem;
  display: flex;
  justify-content: space-between;
}
#collection > .d0 > div > p {
  font-family: PT Sans;
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  height: 0.7vw;
}
#collection > .collection-slider {
  top: 1.6rem;
  width: 85vw;
}
#collection > .collection-slider .d0 {
  border: 1px solid #2b2b2b;
  padding: 3vw 0 2.5vw 0;
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 31vw;
}
@media screen and (max-width: 800px) {
  #collection > .collection-slider .d0 {
    flex-direction: row;
    justify-content: space-around;
  }
}
#collection > .collection-slider .d0 > img {
  height: 23.4rem;
  width: 15rem;
}
#collection > .collection-slider .d0 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 4.6vw;
}
#collection > .collection-slider .d0 > div .p0 {
  margin: 0;
  font-family: BebasNeueBold;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 400;
}
#collection > .collection-slider .d0 > div .p1 {
  margin: 0;
  font-family: PT Sans;
  color: #b6907e;
  font-size: 1.4rem;
  font-weight: 700;
}
#brand {
  position: relative;
  top: 7.9vw;
  display: flex;
  align-items: center;
  height: 16.2vw;
  background-color: #0e0e0e;
}
#brand > div {
  margin: 0 8.9vw;
}
#brand > div > img {
  width: 100%;
}
#say {
  position: relative;
  top: 10.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#say > h1 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 400;
}
#say > .say-slider {
  top: 5.2vw;
  width: 81vw;
}
#say > .say-slider .d0 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  #say > .say-slider .d0 {
    justify-content: space-around;
  }
}
#say > .say-slider .d0 > img {
  height: 6.9rem;
  width: 6.9rem;
  border-radius: 0.3vw;
}
#say > .say-slider .d0 > div {
  width: 30rem;
}
#say > .say-slider .d0 > div > h2 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  margin: 1.4vw 0 0 0;
}
#say > .say-slider .d0 > div > p {
  font-family: PT Sans;
  color: #767676;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.1vw;
  margin: 1.6vw 8.9vw 0 0;
}
#footer {
  position: relative;
  top: 26.7vw;
  height: 26.7vw;
  background-color: #0e0e0e;
}
#footer > div {
  margin: 0 8.9vw;
  position: absolute;
  top: 5.2vw;
  left: 0;
  right: 0;
  bottom: 3.3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer > div .d0 {
  display: flex;
  justify-content: space-between;
}
#footer > div .d0 .logo .p0 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-weight: 400;
  font-size: 2vw;
  margin: 0 0 0.2vw 0;
}
#footer > div .d0 .logo .p1 {
  font-family: PT Sans;
  color: #818181;
  font-size: 0.8vw;
  font-style: italic;
}
#footer > div .d0 .menu {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 9.5vw;
}
#footer > div .d0 .menu > h1 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 0 2.5vw 0;
}
#footer > div .d0 .menu > div {
  display: flex;
}
#footer > div .d0 .menu > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 7.5vw 0 0;
}
#footer > div .d0 .menu > div > div > a {
  font-family: BebasNeueBold;
  color: #5e5d5d;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1.6vw 0;
}
#footer > div .d0 .cont {
  display: flex;
  flex-direction: column;
}
#footer > div .d0 .cont > h1 {
  font-family: BebasNeueBold;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 0 2.1vw 0;
}
#footer > div .d1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer > div .d1 > p {
  font-family: PT Sans;
  color: #494949;
  font-size: 0.95rem;
  font-weight: 400;
}
#footer > div .d1 > div {
  display: flex;
  align-items: center;
}
#footer > div .d1 > div > img {
  width: 1rem;
  margin: 0 0 0 1.3vw;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > div {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 2rem 0;
  width: 100%;
}
.form > div > input {
  background-color: transparent;
  border: 1px solid #494949;
  font-family: PT Sans;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.8rem 1.7rem;
}
.form > div > input::placeholder {
  color: #494949;
}
.form > div > label {
  font-family: PT Sans;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.8rem 0.5rem 0.8rem 0;
}
.form > div > button {
  background-color: #b6907e;
  border: none;
  font-family: BebasNeueBold;
  color: #705142;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8rem 3.4rem;
}
.form > div > button:hover {
  background-color: #c8ac9f;
}
.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.modal > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal > div > form {
  background-color: #0e0e0e;
  padding: 2rem 2rem 0 2rem;
}
.modal-btn {
  cursor: pointer;
}
#latest-btn {
  border-bottom: 0.7rem solid #b6907e;
}
